@import "../../App.scss";

.featured {
  position: relative;

  .category {
    position: absolute;
    top: 80px;
    left: 50px;
    font-size: 30px;
    font-weight: 500;
    color: white;
    display: flex;
    align-items: center;

    select {
      cursor: pointer;
      background-color: var(--main-color);
      border: 1px solid white;
      color: white;
      margin-left: 20px;
      padding: 8px;
      border-radius: 5px;
    }
  }

  #genre {
    z-index: 2;
  }

  img {
    width: 100%;
    height: 625px;
    object-fit: cover;
  }

  .info {
    width: 35%;
    position: absolute;
    left: 50px;
    bottom: 60px;
    color: white;
    display: flex;
    flex-direction: column;

    img {
      width: 35vw;
      margin-top: 100px;
    }

    .desc {
      margin: 0px 0px 20px 0px;

      @include mobile {
        width: 60vw;
      }
    }

    .buttons {
      display: flex;

      button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 500;
        margin-right: 10px;
        cursor: pointer;
        text-decoration: none;
        background-color: white;

        &.play > a {
          background-color: white;
          color: var(--main-color);
          display: flex;
          align-items: center;
        }

        &.more {
          background-color: grey;
          color: white;
        }

        span {
          margin-left: 5px;
        }
      }
    }
  }
}

.title {
  font-size: 30px;
  font-weight: 700;
  color: red;
  margin: 0px;
  margin-bottom: 12px;
}
